/* Background and texts -- start*/
.home_banner {
  background: #040404;
  height: 1000px;
  /* padding-bottom: 100px; */
  padding-top: 67px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.lists {
  margin-right: 0px;
}

.home_contents {
  margin-top: 225px;
  margin-left: 220px;
}

.big_txts h1 {
  font-size: 65px;
  font-weight: 600;
  margin-top: 85px;
  margin-bottom: 25px;
  color: #ffffff;
}

.small_txts h6 {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 35px;
  margin-top: -10px;
  margin-bottom: 30px;
}

img.person_img1 {
  position: absolute;
  top: -100px;
  right: 0px;
  width: 1000px;
}

.button {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 35px;
  color: #ffffff;
  position: relative;
  /* box-shadow: 0.5px; */
  font-size: 15px;
  padding: 0.5px;
  /* rotate: 0.5px; */
  width: 200px;
  height: 50px;
  margin-left: -10px;
}

.button:hover {
  rotate: -3deg;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.button:active {
  scale: 0.99;
}

.cords {
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.button .cords {
  top: 0;
  bottom: 0;
  position: absolute;
  transform: skew(20deg);
  height: 100%;
  transition: left 0.4s linear;
}

.button .cords .rectangle1 {
  margin-left: 1.5em;
}

/* Background and texts -- end*/

/* Responsive -- Start */
/* Responsive --End */
