/* Background and texts -- start*/
.home_banner {
  background: #040404;
  height: 1000px;
  padding-top: 67px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.lists {
  margin-right: 0px;
}

.home_contents {
  margin-top: 225px;
  margin-left: 220px;
}

.big_txts h1 {
  font-size: 65px;
  font-weight: 600;
  margin-top: 85px;
  margin-bottom: 25px;
  color: #ffffff;
}

.small_txts h6 {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 35px;
  margin-top: -10px;
  margin-bottom: 30px;
}

img.person_img1 {
  position: absolute;
  top: 50px;
  right: 150px;
  width: 800px;
}

.home_contents .buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.button {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 35px;
  color: #ffffff;
  position: relative;
  font-size: 15px;
  padding: 0.5px;
  width: 200px;
  height: 50px;
  margin-left: -10px;
}

.button2 {
  width: 100px;
}

.button:hover {
  rotate: -3deg;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.button:active {
  scale: 0.99;
}

.cords {
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.button .cords {
  top: 0;
  bottom: 0;
  position: absolute;
  transform: skew(20deg);
  height: 100%;
  transition: left 0.4s linear;
}

.button .cords .rectangle1 {
  margin-left: 1.5em;
}

/* Background and texts -- end*/
/* Education - Start */
.education_banner {
  background: #040404;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -175px;
}

.grid {
  display: flex;
  gap: 1.5rem;
}

.grid-cols-3 {
  grid-template-columns: repeat(2, 1fr);
}

.item {
  position: relative;
  transition: transform 0.2s;
  display: flex;
}

.item:hover {
  --expand: 1;
  z-index: 1;
}

.item:before,
.item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: hsl(0, 0%, 5%);
  border: 2px solid white;
  top: 0;
  left: 0;
  z-index: -1;
}

.item:after {
  transform: translate(calc(var(--expand) * -2%), calc(var(--expand) * -2%));
  transition: transform 0.2s;
}

.item__content {
  transition: transform 0.2s;
  transform: translate(calc(var(--expand) * -4%), calc(var(--expand) * -4%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 1px white;
  text-align: center;
  width: 425px;
}

.item__content span {
  font-size: 25px;
  font-weight: 700;
  color: #fff; /* Change text color to white */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 3px #fff;
  }
  to {
    text-shadow: 0 0 2px #fff;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 3px #fff;
  }
  to {
    text-shadow: 0 0 2px #fff;
  }
}

/* Example usage */
.glowing-text {
  animation: glow 1s infinite alternate;
  -webkit-animation: glow 1s infinite alternate;
}

.item__content .logo {
  padding-bottom: 20px;
}
/* Education - End */

/* Skills - Start */
.skills_banner {
  background: #040404;
}

.skills_content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.skills_content h2 {
  font-size: 50px;
  font-weight: 900px;
  color: #ffffff;
}

.skills_content {
  gap: 20px;
}

.skills_content h3 {
  font-size: 30px;
  font-weight: 900px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row .blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row .blocks h3 {
  font-size: 15px;
}

.skills_content img {
  object-fit: contain;
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}

.skills_content .container {
  max-width: 600px;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills_content .container:hover img {
  opacity: 0.3;
}
.skills_content .container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

/* Skills - End */

/* Experience - Start */
.experience_banner {
  background: #040404;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.experience_content {
  border-radius: 12px;
  padding: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.experience_content .card {
  background: #040404;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.text-content h2 {
  color: white;
  padding: 20px;
}

p {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  margin-top: 18px;
}

.text-content .experiences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.text-content .experiences {
  padding: 20px;
}

.experiences .card {
  width: 377px;
  height: 402px;
  border-radius: 20px;
  transition: all 0.3s;
  color: white;
  text-align: left;
}

.card .card2 {
  width: 375px;
  height: 400px;
  background-color: #040404;
  border-radius: 20px;
  transition: all 0.2s;
  padding: 20px;
  border: solid 1px #8a8a8a;
}

.card .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.experiences .card:hover {
  background-image: linear-gradient(163deg, #8a8a8a 0%, #333239 100%);
}

.card .card2 h3 {
  font-size: 19px;
}

.card .card2 h3 span {
  font-size: 15px;
  color: #c1c1c1;
}

.card2 ul li {
  font-size: 12px;
}

/* Experience - End */

/* Contact page -- Start */
.contact_page {
  position: relative;
  height: 647px;
  background: #040404;
  height: 100%;
}

.contact_page .connect_with_us {
  z-index: 1;
  height: 647px;
  background: url(../images/contac_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 10px;
  width: 1000px;
  margin: auto;
  height: 575px;
}

.connect_with_us .contact_content {
  display: flex;
  flex-direction: row;
}

.connect_with_us .left_contents {
  background: url(../images/contact_page.png);
  background-repeat: no-repeat;
  justify-content: space-evenly;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}

.contact_page .form_v {
  cursor: pointer;
}

.form_v:hover label {
  color: #ffffff;
}

.left_contents h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 55.02px;
  text-align: center;
  color: white;
}

.left_contents .details .links {
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.details img {
  width: 30px;
}
.details .contact_icons {
  padding-top: 2px;
  padding-bottom: 20px;
  display: flex;
  gap: 25px;
}

.contact_form label {
  color: #cccccc;
  font-size: 20px;
  gap: 10px;
}

.contact_form input {
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
  width: 210px;
  font-weight: 550;
  font-size: medium;
}

.contact_form .col-lg-6 {
  margin-bottom: 40px;
}

.col-lg-6 .contact_form {
  width: 50%;
  padding-left: 10px;
  position: relative;
  border-radius: 10px;
}

.col-lg-12 input {
  padding-top: 6px;
  width: 420px;
  color: #ffffff;
}

.contact_form .row {
  line-height: 22px;
  display: flex;
  flex-direction: column;
}

.left_contents .details {
  width: 50%;
  padding-left: 50px;
}

textarea#message {
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
  width: 420px;
  height: 25px;
  font-size: medium;
  color: white;
}

.contact_form button {
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  margin-top: 50px;
  width: 100px;
  height: 40px;
}

.contact_form button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.contact_form button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
/* Contact page -- End */

* {
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  height: 120px;
  background: #040404;
  overflow: hidden;
  z-index: 0;
}
section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

/* Responsive -- Start */
/* Responsive --End */
