@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100..700&display=swap");

* {
  font-family: "IBM Plex Mono", monospace;
}

/* Navbar -- Start */
.navbar .navbar-toggler {
  border: none;
}
.navbar.navbar-expand-lg {
  position: fixed !important;
  justify-content: flex-start;
  top: 0;
  width: 100%;
}

.header.fixed {
  background: black;
  z-index: 1;
}

.navbar.navbar-expand-lg .navbar-nav {
  gap: 20px;
}

.nav-item .nav-link {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 25px;
}

.nav-item .nav-link:hover {
  color: white;
}

.nav-item .nav-link:active {
  color: white;
}

.nav-item.dropdown .nav-link.show {
  color: white;
}

.nav-item.dropdown .dropdown-menu {
  background: #e0e0e0;
  border-radius: 10px;
  font-size: 15px;
  width: 200px;
  border: none;
}

.nav-item.dropdown .dropdown-menu li:hover {
  background: none;
  font-size: 17px;
}

a.dropdown-item {
  font-weight: 600;
  font-size: 14px;
  height: 37px;
  align-content: center;
}

ul.dropdown-menu.show {
  padding-top: 1px;
  padding-bottom: 1px;
}
/* Navbar -- End */

/* Responsive -- Start */

/* Responsive -- End */
